@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

}

*, *::before, *::after {
    box-sizing: inherit;
}

.mons-rotation {
    margin: 8em 0;
    position: relative;
}

.bball {
    height: 400px;
    width: 400px;
}

/*
.bball:target .bupkus {
    transform: rotate(360deg);
    object-position: center;
}
*/
.bukus {
    height: 100px;
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top: -100px;
    animation: move 5s linear infinite;
    transform-origin: center 350px;
}

@keyframes move {
    
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
    
}

.bupkus {
    height: 100px;
    width: 100px;
    position: absolute;
    right: calc(50% - 250px);
    animation: mons-move 5s linear infinite;
}

.balllogo {
    height: 100px;
    width: 100px;
    position: absolute;
    left: calc(50% - 300px);
    bottom: 150px;
    animation: mons-move 5s linear infinite;
}

.nada {
    height: 100px;
    width: 100px;
    position: absolute;
    left: calc(45% - 200px);
    animation: mons-move 5s linear infinite;
}

.null {
    height: 100px;
    width: 100px;
    position: absolute;
    left: calc(45% - 200px);
    bottom: -10px;
    animation: mons-move 5s linear infinite;
}


.void {
    height: 100px;
    width: 100px;
    position: absolute;
    right: calc(50% - 250px);
    bottom: -10px;
    animation: mons-move 5s linear infinite;
}

.zilch {
    height: 100px;
    width: 100px;
    position: absolute;
    left: calc(50% + 200px);
    bottom: 150px;
    animation: mons-move 5s linear infinite;
}

@keyframes mons-move {
    
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
    
}

.monsters {
    height: 100px;
    width: 100px;
    position: absolute;
}

.button-one {
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    width: 8em;
    line-height: 8em;
    transition: all 1s linear;
}

.button-two {
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    width: 8em;
    line-height: 8em;
    transition: all 1s linear;
}

.button-one:hover {
    background-color: purple;   
}

.button-two:hover {
    background-color: orange;
}

a {
    text-decoration: none;
    color: white;
}

main {
    text-align: center;
}

.ballcourt {
    height: 100vh;
    width: 100%;
    background-image: url(../images/ball-court.svg);
    animation: ballcourt 2s linear infinite;
}

@keyframes ballcourt {
    
    0% {
        transform: scale(1,1);
    }
    
    100% {
        transform: scale(1.2,1.2);
    }
    
}
